.add{
    width: 100%;
    img{
        width: 100%;
    }
    i{
        position: absolute;
        width: calc(78rem/64);
        height: calc(33rem/64);
        background-image: url(../image/i-ad.png);
        background-size: calc(78rem/64);
        top: 0;
        right: 0;
    }
}
.sousuo{
    position: absolute;
    top: calc(225rem/64);
    width: calc(600rem/64);
    height: calc(79rem/64);
    background-color: #fff;
    -webkit-box-shadow: 0px 0px 10px #ccc;
    box-shadow: 0px 0px 10px #ccc;
    margin-left: calc(20rem/64);
    margin-right: calc(8rem/64);
    overflow: hidden;
    input{
        width:calc(450rem/64);
        height: 100%;
        border: none;
    }
}
.sousuo-left{
    width: calc(140rem/64);
    height: 100%;
    position: relative;
    text-align: center;
    overflow: hidden;
    padding-top: calc(30rem/64);
    padding-left: calc(30rem/64);
    box-sizing: border-box;
    float: left;
    a{
        color: #333;
        float: left;
    }
    span{
        display: block;
        float: left;
        width: 0;
        height: 0;
        border-top: calc(6rem/64) solid #666;
        border-left: calc(6rem/64) solid transparent;
        border-right: calc(6rem/64) solid transparent;
        border-bottom: calc(6rem/64) solid transparent;
        margin-left: calc(8rem/64);
        margin-top: calc(8rem/64);

    }
    &:after{
        content: "";
        width:calc(2rem/64);
        height: calc(22rem/64);
        background-color: #ddd;
        position: absolute;
        top: calc(28rem/64);
        right: calc(20rem/64);
    }
}
.nav{
    display: flex;
    width: 100%;
    margin-top: calc(50rem/64);
    overflow: hidden;
    padding-bottom: calc(50rem/64);
    li{
        width: 20%;
        flex: 1;
        float: left;
        text-align: center;
        a{
            color: #333;
            text-decoration: none;
        }
        img{
            width: 100%;
        }
    }
}
.hot{
    width: 100%;
    padding: calc(16rem/64) calc(18rem/64);
    box-sizing: border-box;
    border-top: calc(18rem/64) solid #edf0f5;
    position: relative;
    border-bottom: calc(2rem/64) solid #f4f4f4;
    img{
        width: calc(200rem/64);
        float: left;
        margin-right: calc(18rem/64);
        position: relative;
    }
    i{
        width:calc(120rem/64);
        height:calc(32rem/64);
        background-color: #03bf97;
        color: #fff;
        text-align: center;
        line-height: calc(32rem/64);
        position: absolute;
        top: calc(15rem/64);
        left: calc(20rem/64);
        border-radius:0px 10px 10px 0px;
    }
    p{
        padding-bottom: calc(50rem/64);
        overflow : hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        font-size: calc(24rem/64);
    }
    span{
        font-size: calc(24rem/64);
        color: #FF6666;
    }
    S{
        float: right;
        font-size: calc(24rem/64);
        color: #ccc;
    }
}
.add1{
    display: flex;
    position: relative;
    margin-top: calc(20rem/64);
    padding: calc(18rem/64);
    box-sizing: border-box;
    a{
        flex: 1;
        width: 50%;
        float: left;
        background-color: #fff2e6;
        height: calc(154rem/64);
        position: relative;
        &:nth-child(2){
            background-color: #ffecec;
            margin-left: calc(18rem/64);
        }
        p{
            text-align: center;
            margin-top: calc(16rem/64);
            color: #333;
            font-size:calc(20rem/64);
            color: #444;
        }
        img{
            width: calc(156rem/64);
            position: absolute;
            left: 25%;
            bottom: 0;
        }
   
    }
    i{
        display: block;
        width:calc(54rem*2/64);
        height:calc(54rem*2/64);
        background-image: url(../image/wKjFbFpmvGSAQ9FSAABpLtCfBRA957.png);
        background-size: calc(54rem*2/64);
        position: absolute;
        top: -20%;
        right: 0;
    }
}
main{
    border-top: calc(18rem/64) solid #edf0f5;
    ul{
        width: 100%;
        overflow: hidden;
        padding-top: calc(20rem/64);
        padding-bottom:calc(20rem/64);
        margin-bottom: calc(30rem/64);
    }
    li{
        float: left;
        width: 33.33%;
        text-align: center;
        &:nth-child(1){
            color: #03bf97;
        }
        &:before{
            content: "";
            width: 15%;
            height: calc(2rem/64);
            background-color: #03bf97;
            position: absolute;
            bottom: calc(50rem/64);
            left: calc(60rem/64);
        }
    }
    .add2{
        display: block;
        width: 100%;
        position: relative;
        margin-top: calc(40rem/64);
        img{
            width: 100%;
            height: calc(74rem*2/64);
        }
        i{
            position: absolute;
            width: calc(64rem/64);
            height: calc(21rem/64);
            background-image: url(../image/i-ad.png);
            background-size: calc(64rem/64);
            top: 0;
            right: 0;
        }
    }
}
.content{
    margin-top: calc(40rem/64);
    div{
        width: 100%;
        padding-left: calc(18rem/64);
        padding-right: calc(28rem/64);
        box-sizing: border-box;
        position:relative;
        box-sizing: border-box;
        margin-top: calc(36rem/64);
        height: calc(93rem*2/64);
        &:last-child i{
            width: 0rem;
        }
        &:before{
            content: "自由行";
            width: calc(88rem/64);
            height: calc(32rem/64);
            background-color: #667384;
            color: #fff;
            text-align: center;
            line-height: calc(32rem/64);
            border-radius: 0px 0px 10px 0px;
            position: absolute;
            left:calc(18rem/64);
            top: 0px;
            z-index: 10;
        }
        &:after{
            content: "扬州出发";
            width: calc(200rem/64);
            height: calc(17rem*2/64);
            text-align: center;
            line-height: calc(17rem*2/64);
            color: #fff;
            background-color: #667384;
            position: absolute;
            left: calc(18rem/64);
            bottom: calc(16rem/64);
        }
        img{
            display: block;
            width: calc(200rem/64);
            height: calc(85rem*2/64);
            position: relative;
            float: left;
            margin-right: calc(30rem/64);
        }
        p{
            margin-bottom: calc(20rem*2/64);
            color: #333;
            overflow : hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
        }
        span{
            color: #ccc;
            font-size:calc(20rem/64) ;
        }
        s{
            padding-left: calc(225rem/64);
            margin-top: calc(12rem/64);
            display: block;
            color: red;
            font-size: calc(24rem/64);
            position: relative;
        }
        i{
                width: calc(600rem/64);
                height: calc(2rem/64);
                background-color: #ccc;
                position: absolute;
                bottom:calc(-7rem*2/64);
                left:calc(24rem/64);
        }
    }
}
.caini{
    margin-top: calc(30rem/64);
    background-color: #edf0f5;
    box-sizing: border-box;
    overflow: hidden;
    h3{
        text-align: center;
        font-size: calc(16rem*2/64);
        margin-bottom: calc(10rem/64);
        margin-top: calc(20rem/64);
    }
    div{
        width: 45%;
        margin-top: calc(20rem/64);
        background-color: #fff;
        float: left;
        overflow: hidden;
        position: relative;
        padding-bottom: calc(24rem/64);
        margin-left: calc(10rem/64);
        &:nth-child(2n){
            margin-left: calc(20rem/64);
            margin-right: calc(15rem/64);
        }
        &:before{
            content: "自由行";
            width: calc(100rem/64);
            height: calc(40rem/64);
            background-color: #667384;
            color: #fff;
            text-align: center;
            line-height: calc(40rem/64);
            border-radius: 0px 0px 10px 0px;
            position: absolute;
            left:0px;
            top: 0px;
            z-index: 10;
        }
        img{
            width: 100%;
            margin-bottom: calc(16rem/64);
        }
        p{
            overflow : hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        font-size: calc(28rem/64);
        margin-bottom: calc(20rem/64);
        margin-left: calc(14rem/64);
        margin-right: calc(14rem/64);
        }
        span{
            color: red;
            float: left;
            margin-left: calc(12rem/64);
        }
        s{
            float: right;
            color: #ccc;
            margin-right: calc(28rem/64);
        }
    }
}
.footer{
    background-color: #edf0f5;
    width: 100%;
    text-align: center;
    padding-top: calc(100rem/64);
    padding-bottom: calc(100rem/64);
    margin-bottom: calc(50rem*2/64);

    p{
        text-align: center;
        color: #ccc;
    }
    i{
        font-size: calc(40rem/64);
        color: #ccc;
        font-family: "楷体";
    }
 
}
.bottom{
    width: 100%;
    background-color: #fff;
    height: calc(50rem*2/64);
    padding-top: calc(10rem*2/64);
    box-sizing: border-box;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 100;
    ul{
        
        width: 100%;
        overflow: hidden;
    }
    a{
        color: #999;
        text-decoration: none;
        list-style: none;
        font-size: calc(24rem/64);
        i{
            font-size: calc(30rem/64);
        }
    }
    li{
        width: 20%;
        float: left;
        text-align: center;
        &:first-child a{
            color: #03bf97;
        }
      
    }
}