.row{
    width: 100%;
    background-color: #222;
    margin: 0;
    padding: 0;
}
.top{
    width: 100%;
    height: 120px;
    img{
        width: 285px;
    }
    li{
        width:33.33%;
        float: left;
        a{
            color: #fff;
        }
        &:nth-last-child(-n+2){
            line-height: 120px;
        }
    }
}
.logo{
        margin-top: 25px;
}
