html,body{
    width: 100%;
    height: 100%;
}
body{
    background-image: url(../upload/bg.png);
}
.top{
    width: 100%;
    margin-bottom: calc(60rem/64);
    .bg1{
        width: 100%;
        height: calc(192rem/64);
        background-image: url(../upload/banner1.png);
        background-size: 100%;
    }
    .bg2{
        width: 100%;
        height: calc(192rem/64);
        background-image: url(../upload/banner2.png);
        background-size: 100%;
    }
}
.jianmian{
    width: 100%;
    position: absolute;
    top:calc(310rem/64);

    ul{
        overflow: hidden;
    }
    li{
        width: 19%;
        height: calc(120rem/64);
        float: left;
        text-align: center;
        color: #fed916;
        &:nth-child(-n+4){
            background-image: url(../upload/red.png);
            background-size: 100%;
            margin-right: calc(8rem/64);
        }
        &:nth-child(5){
            background-image: url(../upload/coupon-btn.png);
            background-size: 100%;
            background-repeat: no-repeat;
            background-position: 0px calc(20rem/64);
        }
        p{
            font-size: calc(40rem/64);
            margin-top: calc(30rem/64);
        }
    }
}
.main-top{
   width: 70%;
   height: calc(95rem/64);
   background-image: url(../upload/title.png);
   background-repeat: no-repeat;
   background-size: calc(450rem/64);
   margin-left: calc(90rem/64);
}
.huodong{
    padding-left: calc(40rem/64);
    padding-right: calc(10rem/64);
    overflow: hidden;
    li{
        width: calc(88rem*2/64);
        height: calc(31rem*2/64);
        background-image: url(../upload/menu.png);
        background-position: 0px -29px;
        background-size: 100%;
        text-align: center;
        line-height: calc(30rem*2/64);
        margin-right: calc(20rem/64);
        float: left;
        &:first-child{
            background-position: 0px 0px;
        }
        &:last-child{
            margin-left: calc(196rem/64);
            margin-top: calc(10rem/64);
        }
    }    
}
.content{
    margin-left: calc(10rem/64);
    margin-right: calc(10rem/64);
    width: calc(312rem*2/64);
    border: calc(2rem/64) solid #6a0101;
    border-radius: calc(10rem/64);
    background-color: #ad2123;
    h6{
        
    }
}